<!-- <div class="container-scroller">
  <app-navbar></app-navbar>
  <div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->

<router-outlet>
  <!-- <ng4-loading-spinner [threshold]="2000" [timeout]="4000"  [zIndex]="9999"></ng4-loading-spinner> -->
  <ngx-spinner></ngx-spinner>

</router-outlet>

<!-- [template]="template" [loadingText]="'Please wait...'" -->
<!-- <app-login *ngIf="dashboard" (pageChanged)="redirectToDash($event)"></app-login> -->